<article
  class="assistant-message"
  [class.assistant-message--user]="
    message().role === 'user'
  "
  [class.assistant-message--assistant]="
    message().role === 'assistant'
  "
>

  @if (message().role === "assistant") {

    <!-- ==================================================
    THINKING
    ================================================== -->
    @if (message().status === "thinking") {
      <app-assistant-thinking></app-assistant-thinking>
    }

    <!-- ==================================================
    ERROR
    ================================================== -->
    @else if (message().status === "error") {
      <app-assistant-error></app-assistant-error>
    }

    <!-- ==================================================
    RESPONSE
    ================================================== -->
    @else {
      <div
        class="assistant-message__content"
        [innerHTML]="responseHtml()"
      ></div>
    }

  }


  <!-- ==================================================
  USER MESSAGE
  ================================================== -->
  @else {

    <div
      class="assistant-message__content"
    >
      {{ message().content }}
    </div>

  }

</article>
