<div class="quantum-logic-gpage">
  <h1>Hello from Quantum logic Page</h1>
  <section id="Qubits">
    <h2>Qubits</h2>
  </section>

  <section id="The CNOT Gate">
    <h2>The CNOT Gate</h2>
  </section>

  <section id="Quantum Gates">
    <h2>Quantum Gates</h2>
  </section>

  <section id="Quantum Gates Acting on One Qubit">
    <h2>Quantum Gates Acting on One Qubit</h2>
  </section>

  <section id="Are There Universal Quantum Gates?">
    <h2>Are There Universal Quantum Gates?</h2>
  </section>

  <section id="No Cloning Theorem">
    <h2>No Cloning Theorem</h2>
  </section>

  <section id="Quantum Computation versus Classical Computation">
    <h2>Quantum Computation versus Classical Computation</h2>
  </section>

  <section id="The Bell Circuit">
    <h2>The Bell Circuit</h2>
  </section>

  <section id="Superdense Coding">
    <h2>Superdense Coding</h2>
  </section>

  <section id="Quantum Teleportation">
    <h2> Quantum Teleportation </h2>
  </section>

  <section id="Error Correction">
    <h2>Error Correction</h2>
  </section>
</div>

