<div class="quiz-single-choice">

    @for(answer of answers; track answer.id){

        <button
            type="button"
            class="quiz-option"
            [class.quiz-option--selected]="selectedAnswerId === answer.id"
            [class.quiz-option--correct]="showResult && answer.isCorrect"
            [class.quiz-option--incorrect]="
                showResult &&
                selectedAnswerId === answer.id &&
                !answer.isCorrect
            "
            (click)="onSelect(answer.id)">

            <span class="quiz-option__radio"></span>

            <div class="quiz-option__content">

                <p class="quiz-option__title">

                    {{ answer.title }}

                </p>

                <!-- ==========================
                     HINT
                =========================== -->

                @if(
                    showHints &&
                    selectedAnswerId === answer.id &&
                    answer.hint
                ){

                    <div class="quiz-option__message quiz-option__message--hint">

                        <iconify-icon
                            icon="lucide:lightbulb">
                        </iconify-icon>

                        <p>

                            {{ answer.hint }}

                        </p>

                    </div>

                }

                <!-- ==========================
                     CORRECT EXPLANATION
                =========================== -->

                @if(
                    showResult &&
                    answer.isCorrect &&
                    answer.correctExplanation
                ){

                    <div class="quiz-option__message quiz-option__message--success">

                        <iconify-icon
                            icon="lucide:circle-check">
                        </iconify-icon>

                        <p>

                            {{ answer.correctExplanation }}

                        </p>

                    </div>

                }

                <!-- ==========================
                     WRONG EXPLANATION
                =========================== -->

                @if(
                    showResult &&
                    selectedAnswerId === answer.id &&
                    !answer.isCorrect &&
                    answer.incorrectExplanation
                ){

                    <div class="quiz-option__message quiz-option__message--error">

                        <iconify-icon
                            icon="lucide:circle-x">
                        </iconify-icon>

                        <p>

                            {{ answer.incorrectExplanation }}

                        </p>

                    </div>

                }

            </div>

        </button>

    }

</div>
