<div class="quantum-impact-page">
  <h1>hello from Quantum impact</h1>

  <section id="Shor’s Algorithm and Cryptanalysis">
    <h2>Shor’s Algorithm and Cryptanalysis</h2>
  </section>

  <section id="Grover’s Algorithm and Searching Data">
    <h2>Grover’s Algorithm and Searching Data</h2>
  </section>

  <section id="Chemistry and Simulation">
    <h2>Chemistry and Simulation</h2>
  </section>

  <section id="Hardware">
    <h2>Hardware</h2>
  </section>

  <section id="Quantum Supremacy and Parallel Universes">
    <h2>Quantum Supremacy and Parallel Universes</h2>
  </section>

  <section id="Computation">
    <h2>Computation</h2>
  </section>
</div>
