<div class="classical-logic-page">
  <h1> Hell from ClassicalLogicPage</h1>

  <section id="Logic">
    <h2>Logic</h2>
  </section>

  <section id="Boolean Algebra">
    <h2>Boolean Algebra</h2>
  </section>

  <section id="Functional Completeness">
    <h2>Functional Completeness</h2>
  </section>

  <section id="Gates">
    <h2>Gates</h2>
  </section>

  <section id="Circuits">
    <h2>Circuits</h2>
  </section>

  <section id="NAND Is a Universal Gate">
    <h2>NAND Is a Universal Gate</h2>
  </section>

  <section id="Gates and Computation">
    <h2>Gates and Computation</h2>
  </section>
  <section id="Memory">
    <h2>Memory</h2>
  </section>

  <section id="Reversible Computation">
    <h2>Reversible Computation</h2>
  </section>

  <section id="Billiard Ball Computing">
    <h2>Billiard Ball Computing</h2>
  </section>
</div>
