<div>
  <h1>Hello from  EntanglementPage</h1>
  <section id="Alice and Bob’s Qubits Are Not Entangled">
    <h2>Alice and Bob’s Qubits Are Not Entangled</h2>
  </section>
  <section id="Unentangled Qubits Calculation">
    <h2>Unentangled Qubits Calculation</h2>
  </section>

  <section id="Entangled Qubits Calculation">
    <h2>Entangled Qubits Calculation</h2>
  </section>

  <section id="Superluminal Communication">
    <h2>Superluminal Communication</h2>
  </section>

  <section id="The Standard Basis for Tensor Products">
    <h2>The Standard Basis for Tensor Products</h2>
  </section>

  <section id="How Do You Entangle Qubits?">
    <h2>How Do You Entangle Qubits?</h2>
  </section>

  <section id="Using the CNOT Gate to Entangle Qubits">
    <h2>Using the CNOT Gate to Entangle Qubits</h2>
  </section>

  <section id="Entangled Quantum Clocks">
    <h2>Entangled Quantum Clocks</h2>
  </section>
</div>
