@use "../../../../../styles/mixins/queries" as *;

.practice-overview-header {
  width: 100%;
  max-width: var(--content-lg);
  margin-bottom: var(--section-gap-xl);
}



.practice-overview-header__title {
  max-width: var(--content-md);
  margin: 0;

  color: var(--color-gray-9);
  line-height: var(--text-display-sm-line);
  letter-spacing: var(--text-display-sm-tracking);

  text-wrap: balance;
}

.practice-overview-header__description {
  //max-width: 38rem;
  margin: var(--space-3) 0 0;

  color: var(--color-gray-8);
  font-size: var(--text-body-md-size);
  font-weight: var(--text-body-lg-weight);
  line-height: var(--text-body-lg-line);

  text-wrap: pretty;
}

@include respond(tab-port) {
  .practice-overview-header {
    margin-bottom: var(--section-gap-lg);
  }
}

@include respond(phone) {
  .practice-overview-header {
    margin-bottom: var(--section-gap-lg);
  }

  .practice-overview-header__description {
    max-width: none;
  }
}
