<div class="spin-page">
  <h1>Hello from spin</h1>
  <section id="The Quantum Clock">
    <h2>The Quantum Clock</h2>
  </section>

  <section id="Measurements in the Same Direction">
    <h2>Measurements in the Same Direction</h2>
  </section>

  <section id="Measurements in Different Directions">
    <h2>Measurements in Different Directions</h2>
  </section>

  <section id="Measurements">
    <h2>Measurements</h2>
  </section>

  <section id="Randomness">
    <h2>Randomness</h2>
  </section>

  <section id="Photons and Polarization">
    <h2>Photons and Polarization</h2>
  </section>
</div>
