<div class="spin-page lesson">
  <header class="lesson__header">
    <h1 class="lesson__title">
      {{ spanTopic()?.title }}
    </h1>

    <p class="lesson__summary">
    <!--     {{ spanTopic()?.description }} -->
      @for(block of  topicBlocks(); track $index){
        <ng-container>
          {{ block.content }}
        </ng-container>
        }
    </p>
  </header>


  @for(section of   sectionsList(); track section.id){
     <section
      class="lesson__section"
      #pageSection
      [id]="section.slug">
      <h2 class="lesson__heading"> {{section.title}} </h2>
        @for(block of  section.blocks; track block.id){

        <p [id]="block.id" class="lesson__paragraph">
            {{ block.content }}
        </p>
      }
    </section>
  }

</div>
