<div>
  <h1>hello of rom BellInequalityPage</h1>

The Ekert Protocol for Quantum Key Distribution

  <section id="Entangled Qubits in Different Bases">
    <h2> Entangled Qubits in Different Bases</h2>
  </section>

  <section id="Einstein and Local Realism">
    <h2>Einstein and Local Realism</h2>
  </section>

  <section id="Einstein and Hidden Variables">
    <h2>Einstein and Hidden Variables</h2>
  </section>

  <section id="A Classical Explanation of Entanglement">
    <h2>A Classical Explanation of Entanglement</h2>
  </section>

  <section id="Bell’s Inequality">
    <h2>Bell’s Inequality</h2>
  </section>

  <section id="The Answer of Quantum Mechanics">
    <h2>The Answer of Quantum Mechanics</h2>
  </section>

  <section id="The Classical Answer">
    <h2>The Classical Answer</h2>
  </section>

  <section id="Measurement">
    <h2>Measurement</h2>
  </section>
</div>
