<main class="dashboard-page">

  <!-- HEADER -->
  <app-header class="dashboard-page__header"></app-header>
  <!-- ======================================================
  ASIDE
  ======================================================= -->

  <!-- ======================================================
  MAIN WRAPPER
  ======================================================= -->
  <section class="dashboard-page__wrapper">

  <aside class="dashboard-page__aside">
    <app-aside-layout></app-aside-layout>
  </aside>

    <!-- ====================================================
    CONTENT
    ===================================================== -->
    <div class="dashboard-page__content">
      <!-- MAIN OUTLET -->
      <div class="dashboard-page__outlet">
        <router-outlet></router-outlet>
      </div>


      <!-- ==================================================
      AI ASSISTANT RESIZABLE OVERLAY
      =================================================== -->
      <as-split
        class="dashboard-page__assistant-panel"
        [class.dashboard-page__assistant-panel--active]="
          isAssistantVisible()
        "
        direction="horizontal"
        unit="percent"
        [gutterSize]="2"
      >

        <!-- FAKE / EMPTY AREA — 60% -->
        <as-split-area [size]="60"> </as-split-area>

        <!-- ASSISTANT — 40% -->
        <as-split-area
          [size]="40"
          [minSize]="40"
        >
          <div class="dashboard-page__assistant-content">
            <app-ai-assistant-page></app-ai-assistant-page>
          </div>
        </as-split-area>

      </as-split>

    </div>

  </section>
</main>
