@use "../../styles/mixins/_queries.scss" as *;


/* ==========================================================
DASHBOARD PAGE
========================================================== */
.dashboard-page {

  display: grid;

  grid-template-columns:
    auto
    minmax(0, 1fr);

  width: 100dvw;
  height: 100dvh;

  overflow: hidden;

  //padding: 0 var(--page-padding-md);
  /* ========================================================
  CONTENT
  ======================================================== */
  &__content {

    min-width: 0;
    min-height: 0;

    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: repeat(12, minmax(0, 1fr));

    overflow: hidden;
  }


  /* ========================================================
  MAIN OUTLET
  ======================================================== */
  &__outlet {

    grid-column: 1 / -1;
    grid-row: 1;

    min-width: 0;
    min-height: 0;

    width: 100%;
    height: 100%;

    pointer-events: auto;
  }


  /* ========================================================
  ASSISTANT PANEL
  ======================================================== */
  &__assistant-panel {

    grid-column: 1 / -1;
    grid-row: 1;

    min-width: 0;
    min-height: 0;

    width: 0;
    height: 100%;

    overflow: hidden;

    visibility: hidden;

    opacity: 0;
    background: transparent;

    &--active {
      grid-column: 4 / -1;

      width: 100%;
      pointer-events: none;
      opacity: 1;
      visibility: visible;


      ::ng-deep .as-split-gutter {
        pointer-events: auto;
        cursor: col-resize;
      }
    }



    as-split-area {
      min-height: 0;
      height: 100%;

      div {
        min-height: 0;
        height: 100%;
        overflow: hidden;
      }
    }
  }


  /* ========================================================
  WRAPPER
  ======================================================== */
  &__wrapper {

    min-width: 0;
    min-height: 0;

    height: 100%;

    overflow: hidden;
  }


  /* ========================================================
  ASIDE
  ======================================================== */
  &__aside {
    position: sticky;

    top: 0;

    min-width: 0;

    border-right:
      var(--border-thin)
      solid
      var(--color-border-subtle);

    app-aside-layout {
      width: 100%;
    }
  }


  &__assistant-content{
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;

    pointer-events: auto;
  }

  /* ========================================================
  TABLET
  ======================================================== */
  @include respond(tab-port) {
    grid-template-columns: 0 minmax(0, 1fr);
  }
}
