@use "../../../../../styles/mixins/queries" as *;

/* ============================================================
   QUANTUM MIND
   ATTEMPT RESULT
============================================================ */

.attempt-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding:
    var(--space-10)
    var(--page-padding-lg);

  gap: var(--section-gap-md);
}