<section class="practice-topic">

  <header class="practice-topic__header">

    <div class="practice-topic__identity">

      <span
        class="practice-topic__index"
        aria-hidden="true"
      >
        {{ topic.index }}
      </span>

      <div class="practice-topic__heading">

        <h2 class="practice-topic__title">
          {{ topic.title }}
        </h2>

        <p class="practice-topic__description">
          {{ topic.description }}
        </p>

      </div>

    </div>

    <span class="practice-topic__count">
      {{ topic.quizzes.length }} quizzes
    </span>

  </header>


  <div class="practice-topic__quiz-list">

    @for (quiz of topic.quizzes; track quiz.id) {

      <app-practice-quiz-item
        [quiz]="quiz"
        [index]="$index + 1"
      />

    }

  </div>

</section>