<div class="attempt">

  <!-- ============================================================
  HEADER
  ============================================================ -->

  <app-attempt-header
    [totalQuestions]="totalQuestions()"
    [questionNumber]="questionNumber()"
    [topic]="topic()"></app-attempt-header>


  <!-- ============================================================
  CONTENT
  ============================================================ -->

  <div class="attempt__content">

    <!-- Question -->
    <app-question
      [question]="currentQuestion()"
      [questionNumber]="questionNumber()"></app-question>

    <!-- Answers -->

    <section
      class="attempt__answers"
      aria-label="Answer choices"
    >

      @for (
        answer of currentQuestion().answers;
        track answer.id;
        let index = $index
      ) {

        <app-answer-item
          [answer]="answer"
          [index]="index"
          [selected]="selectedAnswerId() === answer.id"
          (answerSelected)="selectAnswer($event)"
        />

      }

    </section>

  </div>


  <!-- ============================================================
  FOOTER / PAGINATION
  ============================================================ -->
  <app-attempt-footer
    [questionNumber]="questionNumber()"
    [totalQuestions]="totalQuestions()"
    [hasPrevious]="hasPrevious()"
    [hasNext]="hasNext()"
    [selectedAnswerId]="selectedAnswerId()"
    (previous)="previousQuestion()"
    (continue)="submitAnswer()"
  />

</div>


@if (showResult()) {
  <app-modal
    class="attempt-result-modal"
    [config]="attemptResultModalConfig">
  </app-modal>
}