<nav
  class="page-content-nav"
  aria-label="On this page"
>

  <h2 class="page-content-nav__title">
    On this page
  </h2>

  <ul class="page-content-nav__list">

    @for (item of sections(); track item.id) {

      <li class="page-content-nav__item">

        <button
          [appScrollTo]="item.id"
          [scrollContainer]="scrollContainer"
          type="button"
          class="page-content-nav__link"
           [class.page-content-nav__link--active]="activeSection() === item.id"
          (click)="onNavigate(item)"
        >
          <span class="page-content-nav__label">
            {{ item.name }}
          </span>
        </button>

      </li>

    }

  </ul>

</nav>
