<div class="quantum-algos-page">
  <h1>Hello from QuantumAlgos page</h1>

  <section id="The Complexity Classes P and NP">
    <h2> The Complexity Classes P and NP </h2>
  </section>

  <section id="Are Quantum Algorithms Faster Than Classical Ones?">
    <h2>Are Quantum Algorithms Faster Than Classical Ones?</h2>
  </section>

  <section id="Query Complexity">
    <h2>Query Complexity</h2>
  </section>

  <section id="Deutsch’s Algorithm">
    <h2>Deutsch’s Algorithm</h2>
  </section>

  <section id="The Kronecker Product of Hadamard Matrices">
    <h2>The Kronecker Product of Hadamard Matrices</h2>
  </section>

  <section id="The Deutsch-Jozsa Algorithm">
    <h2>The Deutsch-Jozsa Algorithm</h2>
  </section>

  <section id="Simon’s Algorithm">
    <h2>Simon’s Algorithm</h2>
  </section>

  <section id="Complexity Classes">
    <h2>Complexity Classes</h2>
  </section>

  <section id="Quantum Algorithms">
    <h2>Quantum Algorithms</h2>
  </section>
</div>
