<div class="quantum-algos-page lesson">
  <header class="lesson__header">
    <h1 class="lesson__title">  {{quantumAlgosTopic()?.title }}</h1>
    <p class="lesson__summary">
      {{ quantumAlgosTopic()?.description }}
    </p>

    @for(block of quantumAlgosBlocksSections().blocks; track $index){
      <p [id]="block.id" class="lesson__paragraph">
        {{ block.content }}
      </p>
    }
  </header>

  @for(section of quantumAlgosBlocksSections().sections; track section.id){
    <section
    class="lesson__section"
    #pageSection
    [id]="section.slug">
    <h2 class="lesson__heading"> {{section.title}} </h2>
      @for(block of section.blocks; track block.id){
        @if(block.type === 'equation') {
          <app-equation [latex]="block.content"></app-equation>
        } @else {
          <p [id]="block.id" class="lesson__paragraph">
            {{ block.content }}
          </p>
        }
    }
    </section>
  }
</div>
