.mathematics-page {
  //height: 100vh;
  section {
    padding: 2rem;
  }
  section:last-child{
    background-color: red;
    //padding-bottom: 20rem;
  }
}

.pdf-page {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
}
