<div class="spin-qubits-page">
  <h1>Hello from SpinQubits page </h1>

  <section id="Probability">
     <h2>Probability</h2>
  </section>

  <section id="Equivalent State Vectors">
    <h2>Equivalent State Vectors</h2>
  </section>

  <section id="The Basis Associated with a Given Spin Direction">
    <h2>The Basis Associated with a Given Spin Direction</h2>
  </section>

  <section id="Rotating the Apparatus through 60°">
    <h2>Rotating the Apparatus through 60°</h2>
  </section>

  <section id="The Mathematical Model for Photon Polarization">
    <h2>The Mathematical Model for Photon Polarization</h2>
  </section>

  <section id="Photons and Polarization">
    <h2>Photons and Polarization</h2>
  </section>
  <section id="The Basis Associated with a Given Polarization Direction">
    <h2>The Basis Associated with a Given Polarization Direction</h2>
  </section>

  <section id="The Polarized Filters Experiments">
    <h2>The Polarized Filters Experiments</h2>
  </section>

  <section id="Qubits">
    <h2>Qubits</h2>
  </section>

  <section id="Alice, Bob, and Eve">
    <h2>Alice, Bob, and Eve</h2>
  </section>

  <section id="Probability Amplitudes and Interference">
    <h2>Probability Amplitudes and Interference</h2>
  </section>

  <section id="Alice, Bob, Eve, and the BB84 Protocol">
    <h2>Alice, Bob, Eve, and the BB84 Protocol</h2>
  </section>
</div>
