<nav
  class="bread-crumbs"
  aria-label="Breadcrumb"
>

  @for (crumb of breadcrumbs(); track $index) {

    <a
      class="bread-crumbs__link"
      [routerLink]="normalizeUrl(crumb.path)"
      routerLinkActive="bread-crumbs__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ crumb.name }}
    </a>

    @if (!$last) {

      <iconify-icon
        class="bread-crumbs__separator"
        icon="lucide:chevron-right"
        aria-hidden="true"
      />

    }

  }

</nav>