
<div class="app-overlay">

  <!-- ======================================================
  BACKDROP
  ======================================================= -->
  <div
    class="app-overlay__backdrop"
    (click)="onBackdropClick()"
    aria-hidden="true"
  ></div>


  <!-- ======================================================
  PANEL
  ======================================================= -->
  <section
    class="app-overlay__panel"
    [class.app-overlay__panel--sm]="width() === 'sm'"
    [class.app-overlay__panel--md]="width() === 'md'"
    [class.app-overlay__panel--lg]="width() === 'lg'"
    [class.app-overlay__panel--full]="width() === 'full'"

  >

    <div class="app-overlay__content">

      <ng-content />

    </div>

  </section>

</div>
