@use "../../../styles/mixins/queries" as *;

.learn-page {
  display: grid;
  grid-template-columns:  1fr auto;
  gap: 2rem;
  min-height: 0;
  height: 100vh;

  &__content {
    scroll-margin-top: 90rem;
    overflow: auto;
    min-height: 0;
    height: 100%;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr 0;
  }
}



