@use "../../../styles/mixins/queries" as *;

.learn-page {
  display: grid;
  grid-template-columns:  1fr auto;
  gap: 2rem;
  min-height: 0;
  height: 100dvh;
  &__content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  app-content-aside {
    width: 30rem;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr 0;
  }
}



