<section id="The Quantum Clock">
  <h2> The Quantum Clock </h2>
  <p>The Quantum Clock
  Imagine that you have a clock with a dial marked with hours in the standard
  positions. It also has a hand. You are, however, forbidden to look at
  the face of the clock. You can only ask it questions. You want to know in
  which direction the hand is pointing, so you would like to ask the clock
  this seemingly simple question. But it is not allowed. You are only allowed
  to ask whether the hand is pointing at a particular number on the face. So,
  for example, you can ask if the hand is pointing to twelve, or you can ask
  if it is pointing to four. Now, if this were a regular clock you would have to
  be extremely lucky to get a yes answer. Most of the time the hand would
  be pointing in a completely different direction. But the quantum clock is
  not like a regular clock. It either answers yes or it tells you that the hand is
  pointing in the direction exactly opposite the one you asked about. If we
  ask if the hand is pointing in the direction of twelve, it will tell us either
  that it is or that it is pointing in the direction of six. If we ask if the hand is
  pointing in the direction of four, it will either tell us it is, or that it is pointing
  in the direction of ten. This is a very curious state of affairs, but it is
  exactly analogous to electron spin.
  As we said, electron spin is going to be the idea that motivates the definition
  of the qubit. If we are going to do computations, we need to understand
  the rules that govern spin measurements. We start by considering
  what happens when we measure more than once.
  </p>
</section>
