<div class="practice-home">

  <!-- ==================================================
  INTRO
  ================================================== -->
  <app-practice-home-header></app-practice-home-header>


  <!-- ==================================================
  PURPOSE
  ================================================== -->
  <app-practice-purpose></app-practice-purpose>


  <!-- ==================================================
  WAYS TO PRACTICE
  ================================================== -->
  <app-practice-paths></app-practice-paths>

  <!-- ==================================================
  LEARNING LOOP
  ================================================== -->
  <app-practice-guidance></app-practice-guidance>
  

  <!-- ==================================================
       OVERVIEW LINK
  ================================================== -->

  <footer class="practice-home__footer">

    <p class="practice-home__footer-text">
      Looking for your previous attempts or overall progress?
    </p>

    <a
      class="practice-home__footer-link"
      routerLink="/practice/overview"
    >
      View your practice overview

      <iconify-icon
        icon="lucide:arrow-up-right"
        aria-hidden="true"
      ></iconify-icon>

    </a>

  </footer>

</div>