<div class="practice-home">

  <!-- ==================================================
  INTRO
  ================================================== -->
  <app-practice-home-header></app-practice-home-header>


  <!-- ==================================================
  PURPOSE
  ================================================== -->
  <app-practice-purpose></app-practice-purpose>


  <!-- ==================================================
  WAYS TO PRACTICE
  ================================================== -->
  <app-practice-paths></app-practice-paths>

  <!-- ==================================================
  LEARNING LOOP
  ================================================== -->
  <app-practice-guidance></app-practice-guidance>
  

  <!-- ==================================================
  OVERVIEW LINK
  ================================================== -->
  <app-practice-home-footer></app-practice-home-footer>

</div>