@use "../../../../../styles/mixins/queries" as *;

.attempt-result-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--space-3);

  width: 100%;
  margin-top: var(--space-2);

  @include respond(phone-lg) {
    flex-direction: column;

    width: 100%;
    max-width: 32rem;

    gap: var(--space-2);

    app-button {
      width: 100%;
    }
  }
}