<header class="dash-header">

  <div class="dash-header__top">

    <div class="dash-header__identity">

      <div class="dash-header__brand">

        <span class="dash-header__brand-mark">
          QM
        </span>

        <span class="dash-header__brand-name">
          Quantum Mind
        </span>

      </div>

    </div>


    <!-- Desktop account action -->
    <button
      class="dash-header__user"
      type="button"
    >
      <span class="dash-header__user-avatar">
        G
      </span>

      <span class="dash-header__user-name">
        Guest
      </span>

      <iconify-icon
        class="dash-header__user-chevron"
        icon="lucide:chevron-down"
      ></iconify-icon>
    </button>


    <!-- Mobile navigation action -->
    <button
      class="dash-header__mobile-menu"
      type="button"
      aria-label="Open navigation"
      (click)="onMobileMenu()"
    >
      <iconify-icon
        icon="lucide:menu"
        aria-hidden="true"
      ></iconify-icon>
    </button>

  </div>


  <div class="dash-header__bottom">

    <div class="dash-header__breadcrumb">

      <app-bread-crumbs />
      
      <app-sidebar-toggle></app-sidebar-toggle>
    </div>

    <div class="dash-header__assistant">
      <app-assistant-launcher />
    </div>

  </div>

</header>


@if(isMobileMenuOpen()){
  <app-modal
    class="mobile-menu-modal"
    [config]="mobileMenuConfig">
  </app-modal>
}


