@use "../../../../../styles/mixins/queries" as *;

.attempt-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;

  width: 60%;
  max-width: var(--content-xl);
  margin: var(--space-6) auto 0;
  padding: var(--space-5) var(--page-padding-lg);

  background: var(--color-surface);


  app-button {
    display: block;
    width: 100%;
  }

  @include respond(tab-land) {
    padding: var(--space-5) var(--page-padding-md);
  }

  @include respond(tab-port) {
    margin-top: var(--space-5);
    padding: var(--space-5) var(--page-padding-md);
  }

  @include respond(phone-lg) {
    margin-top: var(--space-4);
    padding: var(--space-4) var(--page-padding-sm);
  }

  @include respond(phone) {
    padding: var(--space-4) var(--page-padding-xs);
  }
}