@use "../../../../../styles/mixins/queries" as *;

.progress-snapshot {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-6);

  width: 100%;
  min-width: 0;
  margin-bottom: var(--section-gap-xl);
}

@include respond(tab-land) {
  .progress-snapshot {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include respond(phone) {
  .progress-snapshot {
    grid-template-columns: minmax(0, 1fr);
  }
}
