@use "../../../../../styles/mixins/queries" as *;

.practice-overview-snapshot {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
  width: 100%;
  height: 100%;
  margin-bottom: var(--section-gap-xl);
}

/* Tablet */
@include respond(tab-land) {
  .practice-overview-snapshot {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Phone */
@include respond(tab-port) {
  .practice-overview-snapshot {
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: var(--section-gap-lg);
  }
}
