<section class="quiz-question">

    <header class="quiz-question__header">

        <h2 class="quiz-question__title">
            {{ question.text }}
        </h2>

        @if(question.description){

            <p class="quiz-question__description">
                {{ question.description }}
            </p>

        }

    </header>

    <div class="quiz-question__answers">

        @if(question.type === 'single') {

            <app-quiz-single-choice
                [answers]="question.answers"
                [selectedAnswerId]="selectedAnswerId"
                (selected)="answerSelected.emit($event)">
            </app-quiz-single-choice>

        }

        @else {

            <app-quiz-multiple-choice
                [answers]="question.answers"
                [selectedIds]="selectedIds"
                (selectionChanged)="selectionChanged.emit($event)">
            </app-quiz-multiple-choice>

        }

    </div>

</section>
